# Prerequisites
*.d
*.tmp

# Compiled Object files
*.slo
*.lo
*.o
*.o*
*.so
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so*
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
bench.test

# deps
.deps
scripts
scripts_common
.clion*
build.api*
.idea/

#Python
*.py